/* iPhone SE - 1*/

.header {
    width: 100%;
   
}

.header__container {
    max-width: 288px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo {
    width: 48px;
    height: 34px;
    margin-right: 16px;
}

.header__menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 15.96px;
    letter-spacing: 0.25px;
}
.header__nav li {
    margin-left: 16px;
}
.header__nav li:nth-last-child(2)::after {
    content: url("./assets/icons/arrow_down.svg");
    padding-left: 4px;
    
}

.header__btn {
    width: 230px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    color: rgba(3, 178, 165, 1);
    background-color:rgba(227, 245, 245, 1);
    border: none;
    border-radius: 4px;
    
}

/*iPhone 11 Pro Max - 2*/
@media (min-width: 414px) {
  
    .header__container {
        max-width: 374px;
    }
}

/*iPad mini - 2*/
@media (min-width: 768px) {
    .header__container {
        max-width: 728px;
    }
    .header__logo {
        width: 51px;
        height: 36px;
    }
} 

/*iPad Pro 12.9" - 1*/
@media (min-width: 1024px) {
    .header__container {
        max-width: 960px;
    }
    .header__burger {
        display: none;
    }
    .header__menu {
        display: flex;
       
    }
}  

/*full screen*/
@media (min-width: 1440px) {
    .header__container {
        max-width: 1200px;
    }
    .header__logo {
        margin-right: 21px;
    }
    .header__nav li {
        margin-left: 30px;
    }
    .header__nav li:nth-last-child(2)::after {
        padding-left: 8px;
        
    }
}  

.header__logo img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

